<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
			PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.SystemLogMapper">
	<select id="findSystemLogById" parameterType="String" resultType="SystemLog">
		SELECT * FROM b_systemlog WHERE log_id = #{id}
	</select>
	<select id="findTotalIndex" resultType="int">
		SELECT count(*) FROM b_systemlog
	</select>
	
	<select id="findSystemLogListByPage" resultType="SystemLog">
		SELECT * FROM b_systemlog limit #{start},#{size}
	</select>
	
	<delete id="deleteSystemLogById">
		DELETE FROM b_systemlog WHERE log_id = #{id}
	</delete>
	
	<select id="findByCriteria" resultType="SystemLog">
		SELECT * 
		FROM 
			b_systemlog 
		where
			1 = 1
 	    	<if test="description.length > 0">
      			and description like '%${description}%'
    		</if> 
 	    	<if test="startTime != '' and startTime != null">
      			and log_date &gt;= #{startTime}
    		</if> 
 	    	<if test="endTime != '' and endTime != null">
      			and log_date &lt;= #{endTime}
    		</if>
    	limit
    		#{start},#{size}
	</select>
	<select id="findTotalIndexByCriteria" resultType="int">
		SELECT count(*) 
		FROM 
			b_systemlog 
		where
			1 = 1
 	    	<if test="description.length > 0">
      			and description like '%${description}%'
    		</if> 
 	    	<if test="startTime != '' and startTime != null">
      			and log_date &gt;= #{startTime}
    		</if> 
 	    	<if test="endTime != '' and endTime != null">
      			and log_date &lt;= #{endTime}
    		</if>
	</select>
	
</mapper>

